{% extends "base.html" %}

{% block content %}
<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{{ object|title }}</h1>
        <p>{{ object.description|linebreaks }}</p>


<ul>
    <li>{{ object.absorbancy|title }} absorbancy</li>
    {% if object.body_area %}
        <li>For {{ object.body_area }}</li>
    {% endif %}
    <li>{{ object.morphology|title }}</li>
    {% if object.anti_microbial %}
        <li>Anti-microbial</li>
    {% endif %}
    {% if object.added_agent %}
        <li>{{ object.added_agent|title }}</li>
    {% endif %}
    {% if object.adherence %}
        <li>Adhesive</li>
    {% else %}
        <li>Non-adhesive</li>
    {% endif %}
    {% if object.fibrous %}
        <li>Fibrous</li>
    {% else %}
        <li>Non-fibrous</li>
    {% endif %}
    {% if object.foam %}
        <li>Foaming</li>
    {% endif %}
    {% if object.hydrating %}
        <li>Hydrating</li>
    {% else %}
        <li>Non-hydrating</li>  
    {% endif %}
    {% if object.debriding %}
        <li>Debriding</li>
    {% endif %}
</ul>
        <p>
          <a class="btn btn-lg btn-primary" href="/" role="button">Return to list »</a>
        </p>
      </div>

    </div>

{% endblock %}